.catalog {
  @extend %clearfix;
  margin-top: 80px;
}
.catalog__filter {
  float: left;
  width: 240px;
  margin-top: -8px;
}
.filter__group {
  border: none;
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
}
.filter__title {
  font: inherit;
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 16px;
}
.range {
  width: 240px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.range__control {
  position: relative;
  height: 80px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
  overflow: hidden;
  font-size: 0;
}
.range__scale {
  margin-top: 39px;
  height: 2px;
  background-color: #d7dcde;
}
.range__bar {
  height: 2px;
  background-color: #00ca74;
  width: 70%;
}
.range__toggle {
  position: absolute;
  top: 30px;
  left: 20px;
  width: 20px;
  height: 20px;
  background-color: #ababab;
  border: 8px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 0 rgba(0, 1, 1, 0.14);
  cursor: pointer;
}
.range__toggle_max {
  left: 145px;
}
.range__fields {
  position: relative;
}
.range__label {
  position: absolute;
  font: inherit;
  color: #283136;
  line-height: 22px;
}
.range__label_left {
  left: 0;
}
.range__label_right {
  right: 0;
}
.range__input {
  font: inherit;
  color: #283136;
  line-height: 22px;
  width: 80px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #f1f1f1;
  text-align: center;
}
.grid {
  margin-bottom: 25px;
}
.filter__radio,
.filter__checkbox {
  position: absolute;
  opacity: 0;
}
.filter__label {
  position: relative;
  display: block;
  font: inherit;
  color: #283136;
  font-size: 16px;
  line-height: 20px;
  text-transform: none;
  padding-left: 35px;
  padding-right: 30px;
  margin-bottom: 20px;
  cursor: pointer;
}
.grid .filter__label::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 5px solid #c1c1c1;
  border-radius: 50%;
}
.grid .filter__label:hover {
  color: #000000;

    &::before {
      border-color: #b5b5b5;
    }
}
.grid .filter__radio:checked +
.filter__label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  height: 9px;
  width: 9px;
  background-color: #b5b5b5;
  border-radius: 50%;
}
.grid .filter__radio:disabled +
.filter__label {
  opacity: 0.4;
  cursor: default;

    &::before,
    &::after {
      border-color: #b5b5b5;
      opacity: 0.3;
    }
}
.features {
  margin-bottom: 40px;
}
.features .filter__label:hover {
  color: #000000;

    &::before {
      opacity: 1;
    }
}
.features .filter__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 23px;
  width: 27px;
  background: url("../../img/sprite.png") -80px -5px no-repeat;
  opacity: 0.8;
}
.features .filter__checkbox:checked +
.filter__label::before {
  color: #000000;
  background-position: -113px -5px;
}
.features .filter__checkbox:disabled +
.filter__label {
  opacity: 0.4;
  cursor: default;
}
.features .filter__checkbox:disabled +
.filter__label::before {
  opacity: 0.3;
}
.btn_submit {
  @include roboto(bold);
  font-size: 12px;
  line-height: 18px;
  text-transform: inherit;
  background-color: #f1f1f1;
  padding-left: 47px;
  padding-right: 47px;
  transition: background-color 0.3s;

    &:hover {
      background-color: #e5e5e5;
    }

    &:active {
      background-color: #d5d5d5;
      box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
    }
}
.catalog__wrapper {
  float: right;
  width: 560px;
  // margin-left: 80px;
}
.catalog__sorting {
  width: 100%;
  margin-bottom: 20px;
}
.sorting {
  // position: relative;
  padding: 0;
  margin: 0;
  list-style-type: none;
  font-size: 0;
  text-align: left;
}

.sorting__item {
  @include inlineblock;
  font: inherit;
  font-size: 12px;
  line-height: 18px;
  margin-right: 45px;

    &:first-child {
      margin-right: 40px;
      opacity: 1;
    }

    &:last-child {
      float: right;
      position: relative;
      line-height: 0;
      font-size: 0;
      opacity: 1;
      margin: 0px;
    }
}
.sorting__link {
  opacity: 0.3;
  text-decoration: none;
  border-bottom: 1px dotted #00ca74;
  cursor: pointer;

    &:hover {
      opacity: 1;
      color: #000000;
      border-bottom: 1px solid #00ca74;

    }

    &:active {
      opacity: 1;
      color: #000000;
      border: none;
    }
}
.sorting__link-down {
  position: absolute;
  top: 4px;
  right: 14px;
  border: 6px solid transparent;
  border-top: 10px solid #00ca74;
}
.sorting__link-up {
  position: absolute;
  top: -2px;
  left: -9px;
  border: 6px solid transparent;
  border-bottom: 10px solid #c1c1c1;
}
// .sorting__link_active {
//   border-color: #00ca74;
// }
.catalog__content {
  font-size: 0;
}
.card {
  position: relative;
  @include inlineblock;
  width: 240px;
  margin-right: 80px;
  margin-bottom: 80px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:hover {
      .card__decoration {
        opacity: 1;
      }
      .card__content {
        opacity: 1;
      }
    }
}
.card__decoration {
  border-radius: 5px 5px 0 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 29px;
  background-color: #797979;
  opacity: 0.3;
  font-size: 0;
  transition: opacity 0.3s;
}
.card__decoration span {
  position: relative;
  @include inlineblock;
  height: 10px;
  width: 11px;
  background-color: #ffffff;
  border-radius: 50%;

    &:before {
      content: "";
      position: absolute;
      left: -17px;
      height: 10px;
      width: 11px;
      background-color: #ffffff;
      border-radius: 50%;
    }

    &:after {
      content: "";
      position: absolute;
      left: 17px;
      height: 10px;
      width: 11px;
      background-color: #ffffff;
      border-radius: 50%;
    }
}
.card__image {
  margin: 0;
  height: 240px;
  width: 240px;
}
.card__content {
  position: absolute;
  left: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  text-align: center;
  background-color: #ffffff;
  opacity: 0;
  transition: opacity 0.3s;
}
.card__title {
  font: inherit;
  font-size: 18px;
  line-height: 24px;
}
.card__text {
  font: inherit;
  font-size: 14px;
  line-height: 18px;
  color: #283136;
  text-transform: none;
}
.card__content .btn{
  width: 100%;
  font-size: 18px;
  line-height: 9px;
  padding-left: 35px;
  padding-right: 35px;
}
.pagination {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
  text-align: left;
  margin-bottom: 80px;
}
.pagination__item {
  @include inlineblock;
  font: inherit;
  font-size: 12px;
  line-height: 18px;
}
.pagination__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 12px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: 12px;
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;

    &:hover {
        background-color: #e5e5e5;
      }

      &:active {
        background-color: #d5d5d5;
        box-shadow: inset 0 3px 0 rgba(0, 0, 0, 0.15);
      }
}
.pagination__link_current {
  border: 2px solid #f1f1f1;
  background-color: #ffffff;
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 13px;
  padding-right: 13px;

    &:hover {
      background-color: #ffffff;
      cursor: default;
    }
    &:active {
        background-color: #ffffff;
        box-shadow: none;
      }
}
.pagination__link_last {
  padding-left: 30px;
  padding-right: 30px;
}