doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    title NЁRDS DESIGN STUDIO
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="keywords" content="разные, ключевые, слова")
    meta(name="description" content="краткое описание сайта")
    meta(name="author" content="ainshtein")
    link(rel="stylesheet" href="css/main.css")
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(defer src="js/main.js")
  body
    header.header-main
      div.container
        div.header-main__top
          a.logo(href="index.html")
            img.logo__image(src="img/logo.png" width="139" height="56" alt="Логотип")
          nav.menu
            ul.menu__list
              li.menu__item
                a.menu__link(href="index.html") Студия
              li.menu__item
                a.menu__link(href="#") Клиенты
              li.menu__item
                a.menu__link.menu__link_active Магазин
              li.menu__item
                a.menu__link(href="#") Контакты
          div.user-block
            a.user-block__link(href="#") Корзина
          h1.header-main__title Добро пожаловать в магазин готовых макетов
    main.container.catalog
      aside.catalog__filter
        div.filter
          form(action="https://echo.htmlacademy.ru" method="post")
            fieldset.filter__group
              legend.filter__title Стоимость
              div.range
                div.range__control
                  div.range__scale
                    div.range__bar Шкала
                  div.range__toggle.range__toggle_min Переключатель минимум
                  div.range__toggle.range__toggle_max Переключатель максимум
                div.range__fields
                  label.range__label.range__label_left(for="price-min-field") от
                    input.range__input(type="text" name="price-min" id="price-min-field" value="0" maxlength="9")
                  label.range__label.range__label_right(for="price-max-field") до
                    input.range__input(type="text" name="price-max" id="price-max-field" value="15000" maxlength="9")
            fieldset.filter__group.grid
              legend.filter__title Сетка:
              input.filter__radio(type="radio" name="grid" id="grid-adaptive-field" value="grid-adaptive" checked)
              label.filter__label(for="grid-adaptive-field") Адаптивная
              input.filter__radio(type="radio" name="grid" id="grid-fix-field" value="grid-fix" disabled)
              label.filter__label(for="grid-fix-field") Фиксированная
              input.filter__radio(type="radio" name="grid" id="grid-gum-field" value="grid-gum")
              label.filter__label(for="grid-gum-field") Резиновая
            fieldset.filter__group.features
              legend.filter__title Особенности:
              input.filter__checkbox(type="checkbox" name="slider" id="slider-field" checked)
              label.filter__label(for="slider-field") Слайдер
              input.filter__checkbox(type="checkbox" name="advantages" id="advantages-field")
              label.filter__label(for="advantages-field") Блок преимуществ
              input.filter__checkbox(type="checkbox" name="news" id="news-field" checked)
              label.filter__label(for="news-field") Новости
              input.filter__checkbox(type="checkbox" name="galery" id="galery-field")
              label.filter__label(for="galery-field") Галерея
              input.filter__checkbox(type="checkbox" name="busket" id="busket-field" disabled)
              label.filter__label(for="busket-field") Корзина
            button.btn.btn_submit(type="submit") Показать
      div.catalog__wrapper
        div.catalog__sorting
          ul.sorting
            li.sorting__item Сортировать:
            li.sorting__item
              a.sorting__link(href="#") По цене
            li.sorting__item
              a.sorting__link(href="#") По типу
            li.sorting__item
              a.sorting__link(href="#") По функционалу
            li.sorting__item
              a.sorting__link.sorting__link_down.sorting__link_active(href="#") сортировать по убыванию
              a.sorting__link.sorting__link_up(href="#") сортировать по возрастанию
        div.catalog__content
          div.card
            div.card__decoration
              span Элемент декорации
            div.card__picture
              img.card__image(src="img/cat-aviator.jpg" width="240" height="240" alt="Aviator")
            div.card__content
              h2.card__title AVIATOR
              p.card__text Одностраничный макет с авторским дизайном
              a.btn.btn_red(href="#") 8000 р.
          div.card
            div.card__decoration
              span Элемент декорации
            div.card__picture
              img.card__image(src="img/cat-sunset.jpg" width="240" height="240" alt="Sunset")
            div.card__content
              h2.card__title Sunset
              p.card__text Интернет-магазин с личным кабинетом
              a.btn.btn_red(href="#") 10000 р.
          div.card
            div.card__decoration
              span Элемент декорации
            div.card__picture
              img.card__image(src="img/cat-forte.jpg" width="240" height="240" alt="Forte")
            div.card__content
              h2.card__title FORTE
              p.card__text Отличный макет для личного блога
              a.btn.btn_red(href="#") 5000 р.
          div.card
            div.card__decoration
              span Элемент декорации
            div.card__picture
              img.card__image(src="img/cat-marquee.jpg" width="240" height="240" alt="Modern Organic THAI")
            div.card__content
              h2.card__title Modern Organic THAI
              p.card__text Сайт для ресторана быстрого питания
              a.btn.btn_red(href="#") 12000 р.
          div.card
            div.card__decoration
              span Элемент декорации
            div.card__picture
              img.card__image(src="img/cat-avenue.jpg" width="240" height="240" alt="Avenue")
            div.card__content
              h2.card__title AVENUE
              p.card__text Макет для блога о путешествиях
              a.btn.btn_red(href="#") 8000 р.
          div.card
            div.card__decoration
              span Элемент декорации
            div.card__picture
              img.card__image(src="img/cat-dovetail.jpg" width="240" height="240" alt="Dovetail")
            div.card__content
              h2.card__title DOVETAIL
              p.card__text Интернет-магазин с галереей товаров
              a.btn.btn_red(href="#") 14000 р.
        ul.pagination
          li.pagination__item
            a.pagination__link.pagination__link_current 1
          li.pagination__item
            a.pagination__link 2
          li.pagination__item
            a.pagination__link 3
          li.pagination__item
            a.pagination__link.pagination__link_last Следующая
    footer.footer-main
      div.map
        div.map__container#map
        div.address
          h2.address__title Nёrds design studio
          p.address__text 191186, Санкт-Петербург, ул. Б. Конюшенная, д. 19/8
          p.address__text тел. +7 (812) 275-75-75
          a.btn.btn_red(href="#" id="writeToUs") Напишите нам
      div.container
        div.footer-main__bottom
          div.footer-main__social
            a.social-link.social-link_vk(href="#") Вконтакте
            a.social-link.social-link_fb(href="#") Фейсбук
            a.social-link.social-link_tw(href="#") Твитер
          div.footer-main__content
            h2.footer-main__title Давайте дружить, это выгодно!
            p.footer-main__text Скидка 10% для друзей из социальных сетей.
    div.modal-content
      button.modal-content__close(type="button" title="Закрыть") Закрыть
      form.modal-content__form(action="https://echo.htmlacademy.ru" method="post")
        div.modal-content__top
          div.modal-content__left
            label.modal-content__label(for="user-name-field") Ваше имя:
            input.modal-content__input(type="text" name="user-name" id="user-name-field" placeholder="Представьтесь, пожалуйста" maxlength="50")
          div.modal-content__right
            label.modal-content__label(for="user-email-field") Ваш e-mail:
            input.modal-content__input(type="email" name="user-email" id="user-email-field" placeholder="Для отправки ответа" maxlength="30")
        label.modal-content__label(for="email-text-field") Текст письма:
        textarea.modal-content__input.modal-content__input_email-text(rows="10" cols="45" name="email-text" id="email-text-field" placeholder="В свободной форме" maxlength="300")
        button.btn.btn_red(type="submit") Отправить
    div.modal-overlay



